<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="{{constant('cafeshop\\Bootstrap::APP_URL')}}css/confirm.css" rel="stylesheet">
        <title>会員登録確認</title>
    </head>
    <body>
        {% include 'fade.html.twig' %}
        <form method="post" action="confirm.php">
        <div class="confirm-form">
            <table>
                <tr>
                    <th>お名前(氏名)</th>
                    <td>{{dataArr.family_name}} {{dataArr.first_name}}</td>
                </tr>
                <tr>
                    <th>お名前(かな)</th>
                    <td>{{dataArr.family_name_kana}} {{dataArr.first_name_kana}}</td>
                </tr>
                <tr>
                    <th>ユーザー名</th>
                    <td>{{dataArr.user_name}}</td>
                </tr>
                <tr>
                    <th>パスワード</th>
                    <td>{{dataArr.password}}</td>
                </tr>
                <tr>
                    <th>性別</th>
                    <td>
                        {% if dataArr.sex == '1' %}男性{% elseif dataArr.sex == '2' %}女性{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>生年月日</th>
                    <td>{{dataArr.year}}年 {{dataArr.month}}月 {{dataArr.day}}日</td>
                </tr>
                <tr>
                    <th>郵便番号</th>
                    <td>{{dataArr.zip1}} - {{dataArr.zip2}}</td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td>{{dataArr.address}}</td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td>{{dataArr.email}}</td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td>{{dataArr.tel1}} - {{dataArr.tel2}} - {{dataArr.tel3}}</td>
                </tr>
                <tr>
                    <th>サイトを知ったきっかけ</th>
                    <td>
                        {% for index in dataArr.cue %}
                            {{cueArr[index]}}<br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>上記の内容<br>ご協力感謝致します</th>
                    <td>{{dataArr.contents|nl2br}}</td>
                </tr>
            </table>
            <div>
                <input type="submit" name="back" class="pos" value="戻る">
                <input type="submit" name="complete" class="pos" value="登録完了">
                {% for key,value in dataArr %}
                    <!-- ↓下記メソッドで配列か否かをチェックしている
                    iterable配列ならif,配列ではないならelse
                    [is]は何かを判定してあげる意味           
                    postで送るときはname要素がないといけないので
                    上に連想配列でname属性を追加してあげている
                    hidden：テキストの入力がない場合でもname属性として送ることができる-->
                    {% if value is iterable %}
                        {% for v in value %}
                            <input type="hidden" name="{{key}}[]" value="{{v}}">
                        {% endfor %}
                    {% else %}
                        <input type="hidden" name="{{key}}" value="{{value}}">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </form>
    </body>
</html>