<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="{{constant('cafeshop\\Bootstrap::APP_URL')}}css/cafeshop.css" rel="stylesheet">
        <title>会員登録内容</title>
    </head>
    <body>
        <form method="post" action="list2.php">
            <table>
                <tr>
                    <th>お名前(氏名)</th>
                    <td>{{dataArr.family_name}} {{dataArr.first_name}}</td>
                </tr>
                <tr>
                    <th>お名前(かな)</th>
                    <td>{{dataArr.family_name_kana}} {{dataArr.first_name_kana}}</td>
                </tr>
                <tr>
                    <th>性別</th>
                    <td>{% if dataArr.sex == '1' %}男性{% elseif dataArr.sex == '2' %}女性{% endif %}</td>
                </tr>
                <tr>
                    <th>生年月日</th>
                    <td>{{dataArr.year}}年 {{dataArr.month}}月 {{dataArr.day}}日</td>
                </tr>
                <tr>
                    <th>郵便番号</th>
                    <td>{{dataArr.zip1}} - {{dataArr.zip2}}</td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td>{{dataArr.address}}</td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td>{{dataArr.email}}</td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td>{{dataArr.tel1}} - {{dataArr.tel2}} - {{dataArr.tel3}}</td>
                </tr>
                <tr>
                    <th>サイトを知ったきっかけ</th>
                    <td>
                        {% for val in dataArr.cue %}
                            {{cueArr[val]}}<br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>上記の内容（備考）</th>
                    <td>{{dataArr.contents|nl2br}}</td>
                </tr>
            </table>
            <div>
                <input type="submit" name="back" value="会員一覧へ戻る">
            </div>
        </form>
    </body>
</html>