<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link href="{{constant('cafeshop\\Bootstrap::APP_URL')}}css/login.css" rel="stylesheet">
  <link href="{{constant('cafeshop\\Bootstrap::APP_URL')}}css/style.css" rel="stylesheet">
</head>
<body>
  {% include 'fade.html.twig' %}
  <div class="center">
    <h1>Login</h1>
    <form action="login.php" method="POST">
      <div class="message"><span class="red">{% if logout %}{{ logout }}{% endif %}</span></div>
      <div class="message">{% if complete %}{{ complete }}{% endif %}</div>
      <div class="message"><span class="red">{{ htmlspecialchars }}</span></div>
      <div class="txt_field">
          <input type="text" name="user_name" placeholder="ユーザー名を入力" value="{% if username is not empty %} {{ htmlspecialchars2 }} {% endif %}">
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" value="" placeholder="パスワードを入力">
          <span></span>
          <label>Password</label>
        </div>
        <input type="submit" value="login" name="login">
        <div class="signup">
          登録されていない方はこちら&emsp;<a href="{{'http://localhost/SC/cafeshop/regist.php'}}">新規会員登録</a>
        </div>
        <div class="signupdate">
          パスワード再設定はこちら&emsp;<a href="{{'http://localhost/SC/cafeshop/resetpass.php'}}">パスワード再設定</a>
        </div>
    </form>
  </div>
</body>
</html>